h1{
   font-family: Georgia, Times, serif;
   color: dodgerblue;
   text-shadow: 0px 0px 5px gray;
 }

h2{
   font-family: Gill Sans, Arial, sans-serif;
   color: dodgerblue;
   letter-spacing: 3px;
   text-transform: uppercase;
   font-size: 15px
}
h3{
   color: dodgerblue;

}
p1{
   font-family: Arial, Verdana, sans-serif;
   }
.blue{
   color: dodgerblue;
}
.bll{
   font-weight: bolder;
}
p{
  font-family: Arial, Verdana, sans-serif;
}

.p3{
   position: absolute;
   right: 25px;
}
